h1,h2,h3{
    text-align: center;
}

#add_new{
    width: 60%;
    display: none;
     margin: auto;
    
  
  
}
#user_txt{
    
    font-weight:bold;
    
}


#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333333;
   color: white;
   padding-left:3%;
   padding-top:5px;
   text-align: left;
   border-top:3px solid gray;
     opacity: 0.7;
     font-size:12px; 
}


#white_div{
        background-color: white;
        border:1px solid gray;
    }
@media only screen and (max-width: 50px) {
    #add_new{
        width: 60%;
    }
    #white_div{
       
        background-color: #D3D3D3;
    }
 
  }
  
  #remove_btn:hover{
      color:red;
  }
  
  
  #title{
     text-size:15px;
      margin-left: 25%;
      margin-right:25%;
      padding: 10px;
        border: 2px solid black;
      border-radius: 50px 20px;
  }
  
#lg{
      transition-duration: 0.2s;
    float: right;
    color: black;
      border: 1px solid black;
       padding: 10px; 
       
 
       
}

#lg:hover{
    float: right;
    color: red;
   border: 2px solid black;
           

}

body{
    
    
    
    background-color: #D3D3D3;
      min-width:651px; 
      padding-bottom:50px;
}

#feed{
    min-width:651px; 
 margin: auto;
  width: 75%;
 
  padding: 10px;   
  

  
    
}
#buttons{
  margin: auto;
  width: 75%;

  padding: 10px;      
    
    
}

#p{
   margin-lef: 20%;
    margin-right: 20%;
    color: red;
font-size: 15px;
    font-weight: bold;
}


     @media only screen and (max-width: 650px){
        #delete{ font-size: 15px;}
         #show{ font-size: 15px;}
             #add{ font-size:15px;}
                 #add_new{ width: 60%;
                     font-size:20px;
                 }
                 


#td1{width:33%;}
#td2{width:33%;}
#td3{width:33%;}

#td4{width:33%;}
#td5{width:33%;}
#td6{width:33%;}

#myTable{margin-left:5%;
    margin-right:5%;
}
#table2{margin-left:5%;
    margin-right:5%;
    


}




        
     }
       @media only screen and (max-width: 600px){
           
           #title{font-size:18px;} 
       }


#delete{
  
    transition-duration: 0.4s;
    float:right;
     border: 1px solid black;
   
}
#delete:hover {
  background-color: red;
  color: black;
  border: 2px solid black;
}
#show{
 border: 1px solid black;
    transition-duration: 0.4s;
   
}
#show:hover{
     background-color: rgb(118, 245, 107);
  color: black;
  border: 2px solid black;
}
#add{
     
    transition-duration: 0.4s;
   border: 1px solid black;

}
#add:hover{
     background-color: rgb(118, 245, 107);
  color: black;
  border: 2px solid black;
}


#add_db{
     font-size:20px;
    transition-duration: 0.4s;
   border: 1px solid black;

}
#add_db:hover{
     background-color: rgb(118, 245, 107);
  color: black;
  border: 2px solid black;
}

#nepostoji{
    font-size: 15px;
    color: green;
    text-align:center;
}

#postoji{
    font-size: 15px;
   
     color: red;
     width:10px;
     text-align:center;
}


#feedIndicator{
    min-width:651px; 
 margin:auto;
  width: 80%;
  padding-top:20px;
 
}
/*
#myTableIndicator{
    width:50%;
      table-layout: auto;
  
}
*/